@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-montserrat-alternates);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat;
}

/* Button utilities for dashboard */
.btn {
  @apply bg-zinc-800 text-zinc-50 px-3 py-1 rounded-md hover:bg-zinc-700;
}
.btn-danger {
  @apply bg-red-600 text-white px-3 py-1 rounded-md hover:bg-red-700;
}
